body {
  overflow: hidden;
  position: fixed;
  height: 100vh;
}

.wrapper {
  grid-template-columns: 250px 100vw;
}

.sidebar {
  visibility: visible;
  opacity: 1;
}

.menu-closed .wrapper .sidebar {
  visibility: invisible !important;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;

  /* The buttons are still focussable with vimium extension */
  pointer-events: none;
}

/* Toggle sidebar when menu icon is toggled and give full width to Editor */
.menu-closed .wrapper {
  grid-template-columns: 0 100vw;
}

/* Apply font family, font size, font weight, and text color to paragraphs and list items */
.preview-markdown :where(h1, h2, h3, h4, h5, h6) {
  font-family: var(--chakra-fonts-heading);
  position: relative;
  letter-spacing: var(--chakra-letterSpacings-wide);
}

/* Apply font family, font size, font weight, and text color to paragraphs and list items */
.preview-markdown :where(p, li) {
  /* font-weight: var(--chakra-fontWeights-medium); */
  font-size: var(--chakra-fontSizes-sm);
  font-family: var(--chakra-fonts-heading);
}

/* Increase to classic gray color for reading preview content */
[data-theme="dark"] .preview-markdown :where(p, li) {
  color: var(--chakra-colors-gray-200);
}

/* Apply marker style to unordered list items */
.preview-markdown ol li::marker,
.preview-markdown menu li::marker {
  color: var(--chakra-colors-gray-400);
  font-size: var(--chakra-fontSizes-sm);
  font-weight: bold;
}

/* Apply marker style to unordered list items */
.preview-markdown ul li::marker {
  color: var(--chakra-colors-orange-400);
}

/* Increase the opacity of the pseudo-element for headings on hover */
.preview-markdown :is(h1, h2, h3, h4, h5, h6)::before {
  position: absolute;
  font-size: 75%;
  bottom: 1/2;
  right: 0;
  opacity: 0.2;
  transition-delay: 300ms;
  transition: opacity 300ms ease-out;
}

/* Increase the opacity of the pseudo-element for headings on hover */
[data-theme="dark"] .preview-markdown :is(h1, h2, h3, h4, h5, h6)::before {
  opacity: 0.1;
}

/* Increase the opacity of the pseudo-element for headings on hover */
.preview-markdown :is(h1, h2, h3, h4, h5, h6):hover::before {
  transition-delay: 100ms;
  opacity: 1;
}

.preview-markdown :is(h1)::before {
  content: "#";
}
.preview-markdown :is(h2)::before {
  content: "##";
}
.preview-markdown :is(h3)::before {
  content: "###";
}
.preview-markdown :is(h4)::before {
  content: "####";
}
.preview-markdown :is(h5)::before {
  content: "#####";
}
.preview-markdown :is(h6)::before {
  content: "######";
}

.preview-markdown :is(ol li, ul li, menu li) {
  margin-inline-start: 1rem;
}

.preview-markdown ul li {
  list-style-type: disc;
}

.preview-markdown ol li {
  list-style-type: decimal;
}

/* text-overflow: ellipsis; */
/* white-space: pre-wrap; */
/* word-wrap: break-word; */

/* Styles for <pre> element */
.preview-markdown pre {
  background-color: var(--chakra-colors-blackAlpha-100);
  border-radius: 5px;
  padding: 1rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

[data-theme="dark"] .preview-markdown pre {
  background-color: var(--chakra-colors-gray-700);
}

/* Styles for <code> element inside <pre> */
.preview-markdown pre code {
  font-size: var(--chakra-fontSizes-xs);
  font-family: var(--chakra-fonts-code);
}

/* Styles for <code> element outside <pre> */
.preview-markdown :not(pre) > code {
  font-size: var(--chakra-fontSizes-xs);
  background-color: var(--chakra-colors-blackAlpha-200);
  font-family: var(--chakra-fonts-code);
  overflow-wrap: break-word;
  padding-inline: 0.5ch;
  margin-inline: 0.2ch;
  border-radius: 3px;
}

[data-theme="dark"] .preview-markdown :not(pre) > code {
  background-color: var(--chakra-colors-gray-700);
}

/* Styles for <blockquote> element */
.preview-markdown blockquote {
  padding: clamp(0.618rem, 1vw, 1rem);
  border-inline-start: 4px solid var(--chakra-colors-orange-400);
  background-color: var(--chakra-colors-blackAlpha-50);
  margin-bottom: 1rem;
  border-radius: 1px;
}

/* Styles for children of <blockquote> element */
.preview-markdown blockquote > :is(p, span) {
  font-weight: 100;
  color: var(--chakra-colors-gray-600);
}

/* Dark mode styles for <blockquote> element */
[data-theme="dark"] .preview-markdown blockquote {
  background-color: var(--chakra-colors-gray-800);
}

/* Styles for last child of <blockquote> element */
.preview-markdown blockquote > *:last-child {
  margin-block: 0;
}

.preview-markdown table {
  background-color: var(--chakra-colors-gray-50);

  /* outline: 2px solid var(--chakra-colors-gray-50); */
  /* outline-offset: -2px; */
  border-radius: 6px;
  /* border: 4px solid var(--chakra-colors-gray-50); */
}

[data-theme="dark"] .preview-markdown table {
  background-color: var(--chakra-colors-gray-900);

  /* outline: 2px solid var(--chakra-colors-gray-800); */
  /* border: 4px solid var(--chakra-colors-gray-900); */
}

/* Styles for table head row */
.preview-markdown table thead {
  border-bottom: 1px solid ;
  border-bottom-color: var(--chakra-colors-gray-100);
}

[data-theme="dark"] .preview-markdown table thead {
  border-bottom-color: var(--chakra-colors-gray-800);
}
