body {
  overflow: hidden;
  position: fixed;
  height: 100vh;
}

.wrapper {
  grid-template-columns: 250px 100vw;
}

.sidebar {
  visibility: visible;
  opacity: 1;
}

.menu-closed .wrapper .sidebar {
  visibility: invisible !important;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

.menu-closed .wrapper {
  grid-template-columns: 0 100vw;
}

.preview-open .preview {
  display: block;
}

.preview-closed .preview {
  display: hidden;
}

.preview {
  height: calc(100vh - 80px);
}

.preview-markdown :is(ol, ul, menu) {
  margin-inline-start: 1rem;
}

.preview-markdown ul li {
  list-style-type: disc;
}

.preview-markdown ol li {
  list-style-type: decimal;
}

/* TODO: Move all to style with chakra-ui in @/lib/theme.ts */
.preview-markdown blockquote {
  padding: 1rem;
  border-inline-start: 4px solid orange;
  margin-bottom: 1rem;
}

.preview-markdown blockquote > *:last-child {
  margin-block: 0;
}
.preview-markdown ul li::marker,
.preview-markdown ol li::marker,
.preview-markdown menu li::marker {
  color: rgb(228 102 67);
}
